<script type="text/javascript" src="bundle.js"></script>
<script type="text/javascript">

    var QueryString = function () {
        // http://stackoverflow.com/questions/979975/how-to-get-the-value-from-the-url-parameter
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            // If first entry with this name
            if (typeof query_string[pair[0]] === "undefined") {
                query_string[pair[0]] = decodeURIComponent(pair[1]);
                // If second entry with this name
            } else if (typeof query_string[pair[0]] === "string") {
                var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
                query_string[pair[0]] = arr;
                // If third or later entry with this name
            } else {
                query_string[pair[0]].push(decodeURIComponent(pair[1]));
            }
        }
        return query_string;
    }();

    var pString = QueryString.roll;
    var res = "Input unsuccessful";
    var err = false;
    try{
        res = PEG_parse(pString);
       }
    catch(error){
        err = true;
        res = error;
    }

    var out = {
        input: pString,
        output: {
            success: !err,
            value: res
        }
    };

    // TODO: correct content headers
    //document.writeHead(200, {"Content-Type": "application/json"});
    document.write(JSON.stringify(out));

</script>
