<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>temp title 10pw</title>

    <!-- Angular Material style sheet -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="style/more.css"/>

    <link rel="stylesheet" type="text/css" href="http://codemirror.net/lib/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="http://codemirror.net/theme/twilight.css"/>

</head>

<body ng-app="DiceApp" layout="row"  ng-cloak> <!-- ng-controller="PageController" -->

    <!-- Site header
    <md-toolbar layout="row">
        <h3>Angular Material - Starter App</h3>
    </md-toolbar> -->

    <!-- Wrapper for rest of site -->
    <div flex layout="row">

        <!-- Sidebar -->
        <md-sidenav md-is-locked-open="true" class="site-sidenav md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        ng-click="toggleList()" aria-label="Show Page List">

            <md-toolbar class="md-whiteframe-z1">
                <h3>Pages</h3>
            </md-toolbar>

            <md-list>
                <md-list-item >
                    <md-button>
                        <md-icon md-svg-src="./assets/svg/avatar-1.svg" class="avatar"></md-icon>
                        Simple dice roller
                    </md-button>
                </md-list-item>
                <md-list-item >
                    <md-button>
                        <md-icon md-svg-src="./assets/svg/avatar-4.svg" class="avatar"></md-icon>
                        Complex dice roller
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <!-- Other half of the page -->
        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <!-- Site header -->
            <md-toolbar layout="row" class="md-whiteframe-z1">
                <md-button id="main" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Page List">
                    <md-icon md-svg-icon="menu" ></md-icon>
                </md-button>
                <h3>10pw pnpTools</h3>
            </md-toolbar>


        <!-- Content -->
        <md-content flex id="content">
            <div class="contentHeader">
                <md-icon md-svg-icon="./assets/svg/avatar-1.svg" class="avatar"></md-icon>
                <h2 class="pageTitle">Complex Dice roller </h2>
            </div>
            <div ng-app="formExample" ng-controller="ExampleController">
                <form novalidate class="simple-form">
                    <!--Input String: <input type="text" ng-model="parseString" />-->
                    <!--<div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="parseString"></div>-->
                    <!--<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="parseString" style="height: 50px;"></ui-codemirror>-->
                    <div style="height:100px; width: 300px; display:inline-block;" >
                        <textArea id="complexInput" ng-model="parseString" ui-codemirror="{
                            lineNumbers: true,
                            theme:'twilight',
                            lineWrapping : true,
                            mode: 'xml',
                            }" >
                        </textArea>
                    </div>
                    <input type="submit" ng-click="update(parseString)" value="Roll" />
                </form>
                <pre>Input =  {{inputString | json}}</pre>
                <pre>Result = {{result | json}}</pre>
            </div>
        </md-content>

    </div>




    <!-- Angular Material Dependencies -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>

    <script type="text/javascript" src="bundle.js"></script>

    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="http://codemirror.net/mode/xml/xml.js"></script>
    <script src="https://rawgithub.com/angular-ui/ui-codemirror/bower/ui-codemirror.min.js"></script>


    <!-- Your application bootstrap  -->
    <script type="text/javascript">
    /**
    * You must include the dependency on 'ngMaterial'
    */
        /*angular
            .module('BlankApp', ['ngMaterial'])
            .run(function($log){
                $log.debug("starterApp + ngMaterial running...");
            });*/
        //var myTextArea = document.getElementById('complexInput');
        //var myCodeMirror = CodeMirror.fromTextArea(myTextArea);
        //console.log(myCodeMirror);
        //myCodeMirror.setSize(50, 50);


        var exampleCode = 'set ac = 16; set roll = 1d20; set crit = 10; roll > crit ? 1d20 > ac ? "hit crit" : ("roll1"+roll+"nocrit") : "no hit"';

        var diceApp =  angular.module('DiceApp', ['ngMaterial', 'ui.codemirror']);

        diceApp.controller('ExampleController', ['$scope', function($scope) {

            $scope.result = {};
            $scope.update = function(parseString) {
                console.log("update function run");
                var pString = parseString.toLowerCase();
                $scope.inputString = angular.copy(pString);
                try{
                    $scope.result   = PEG_parse(pString);
                }
                catch(err){
                    $scope.result   = err;
                }
            };
        }]);

      </script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

