/* The wrapper container for flexbox */
/* details here: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */;
.container {
    display: flex; /* flex | inline-flex */
    flex-direction: row; /* row | row-reverse | column | column-reverse */
    flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse */
    /* flex-flow: <‘flex-direction’> || <‘flex-wrap’> */
    justify-content: flex-start; /* flex-start | flex-end | center | space-between | space-around */
    align-items: flex-start; /* flex-start | flex-end | center | baseline | stretch */
    /* No effect on when there is only a single line of elements */
    /* align-content: flex-start | flex-end | center | space-between | space-around | stretch; */
}

.sidebar_header {
    height: 64px;
    /*background-color: #106CC8;
    background: linear-gradient(#185694, #106cc8);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
    background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: linear-gradient(top, #185694 0%, #106cc8 100%);
    border-bottom: 1px solid #267ED5;
    flex-shrink: 0;
    z-index: 2;
    height: 100px;*/
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}







