        <div > <!-- ng-controller="rollerController"   -->
            <form novalidate class="simple-form">
                <section layout="row">
                    <md-select ng-model="loadScriptName" style="width: 200px;">
                        <md-option ng-repeat="name in saved" value="{{name}}">{{name}}</md-option>
                    </md-select>
                    <md-button class="md-raised" ng-click="loadScript(loadScriptName)">Load script</md-button>
                </section>
                <pre id="editor"></pre>
                <md-input-container>
                    <label>Script name</label>
                    <input ng-model="saveScriptName" ng-init="saveScriptName='newScript'">
                </md-input-container>
                <md-button class="md-raised" ng-click="saveScript(saveScriptName)">Add to saved programs</md-button>
                Note that this will overwrite any script with the same name
                <pre id="output"></pre>
                <md-button class="md-raised" ng-click="update()">Roll</md-button>
                <md-button class="md-raised" ng-click="clearBuffer()">Clear output</md-button>
            </form>
            <pre>Input =  {{inputString | json}}</pre>
            <pre>Result = {{result | json}}</pre>
            {{tester}}
        </div>
        <section ng-repeat="prog in saved"> {{prog.name}} : {{prog.value}} </section>

<script type = "text/javascript-lazy">
    /*var diceApp     = angular.module('DiceApp');
    var diceScope   = angular.element(document.getElementById("body")).scope();
    var diceController = angular.element(document.getElementById("bcontrol")).controller();
    console.log(diceController);
    console.log(diceController.title);*/
</script>
