<div id="simpleWrapper" layout="row"> <!-- ng-controller="rollerController"   -->
    <form layout="column" novalidate class="simple-form">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-repeat="dice in diceList">

        <!-- could do something cool here with virtual lists and selection -->
        <input type="number" name="input" ng-model="numDice" min="0" max="99" ng-init="numDice=0" >
        <!-- TODO: make this increment work -->
        <md-button ng-click="numDice = (numDice) + 1"> <!-- ... -->
           <img class="png-icon" ng-src="/img/dice/d{{dice}}.png" aria-label="Add d{{dice}}" style="width: 32px; height: 32px; margin: 0 auto;">
        </md-button>

        <md-input-container>
            <label>Modifier</label>
            <input ng-model="mod" ng-init="mod='+0'">
        </md-input-container>

        <md-button class="md-raised" ng-click="roll(numDice, dice, mod)">Roll</md-button>
        </section>
        <md-button class="md-raised" ng-click="clearBuffer()">Clear buffer</md-button>
    </form>

<pre id="output"></pre>

</div>

Dice by iconcubic, at http://www.iconarchive.com/show/dnd-dice-icons-by-iconcubic.html
