<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list -->
<div class="simpleDemo row">

    <div class="col-md-8">
        <div class="row">
            <div ng-repeat="list in models.initList" class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{list.name}}</h3>
                    </div>

                        <!-- The dnd-draggable directive makes an element draggable and will
                             transfer the object that was assigned to it. If an element was
                             dragged away, you have to remove it from the original list
                             yourself using the dnd-moved attribute -->
                    <ul layout="column" novalidate class="simple-form"
                        dnd-list="list.contents"
                        dnd-external-sources="true"
                        style="width: 250px;"

                        >
<!-- dnd-drop="orderCheck(event, index, item, external, list.contents)" -->
                        <li layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-repeat="item in list.contents"
                            dnd-draggable="item"
                            dnd-moved="list.contents.splice($index, 1); orderCheck(event, index, item, external, list.contents)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item, 'unordered': !item.ordered}"
                            dnd-disable-if="item.lockState"
                            context-menu="menuOptions"
                            >

                            <input type="number" name="input" ng-model="item.init" min="-99" max="99" ng-init="init=0"
                                ng-class="{'outOfOrder': !item.ordered}">
                            {{item.name}}
                            <input type="checkbox" ng-model="item.lockState">


                        </li>
                    </ul>

                    <md-button class="md-raised" ng-click="sort(list.contents)">Sort</md-button> <br />
                    <!-- TODO: make this rollable -->
                    <input type="number" name="input" ng-model="newInit" min="-99" max="99" ng-init="newInit=0">
                    <md-input-container>
                            <label>New initMember</label>
                            <input ng-model="memberName" ng-init="memberName='Alice Cooper'">
                    </md-input-container>
                    <md-button class="md-raised" ng-click="addMember(list, memberName, newInit)">Add new</md-button>

                </div>
            </div>
        </div>
    </div>
</div>
