<!-- TODO: make this not shit and complete -->

Welcome to 10pw pnptools.<br />
Simple dice roller is self-explanatory.<br />

Complex dice roller is a tad harder.<br />

To evaluate math, simply write it. Supported operations:<br />
Multiplication: <code> 1 * 4 </code><br />
Division: <code> 1 / 4 </code><br />
Addition: <code> 1 + 4 </code><br />
Subtraction: <code> 1 - 4 </code><br />
Exponents: <code> 1 ^ 4 </code><br />
etc...

To roll a dice in an expression, use the <code> ndm </code> syntax:<br />
Simple d100: <code> 1d100 </code><br />
More complicated d100 <code> (1+4)d100 </code><br />
Really complicated d100 <code> 1d(10^2) </code><br />

You can chain dice together: <code> (1d4)d100 </code><br />

To create a variable, use <code> set VARIABLENAME = VALUE </code><br />
