<!-- Sidebar -->
<md-sidenav md-is-locked-open="true"
    class="site-sidenav md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    ng-click="toggleList()"
    aria-label="Show Page List">

    <!-- Sidebar header -->
    <md-toolbar class="md-whiteframe-z1 sidebar_header">
        <h3><a class="navbar-brand" ui-sref="#">logo here</a></h3>
    </md-toolbar>

    <!-- Sidebar content -->
    <md-content flex role="navigation">

        <ul class="side-menu">
            <li ng-repeat="section in vm.menu.sections" class="parent-list-item" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                    {{section}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
            </li>
        </ul>

    </md-content>

</md-sidenav>

        <!-- Main content -->
        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <!-- Site header -->
            <md-toolbar layout="row" class="md-whiteframe-z1">
                <h3>{{title}}</h3>
            </md-toolbar>

        <ui-view name="content" style="margin-left:10px; margin-top:10px;"></ui-view>

